<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="title">Waffleshop Password Manager</title>
	</head>

	<body>
		<div th:fragment="body">
			<div class="ui-widget" style="width: 80%; margin-left: auto; margin-right: auto;">
				<div class="ui-widget-header">
					<h1>Waffleshop Password Manager</h1>
				</div>
				<div class="ui-widget-content" style="padding: 1em;">
					<form id="login" action="/authenticate" method="post">
						<p>
							<label for="login-userName">User Name</label><br />
							<input type="text" id="login-userName" name="userName" />
						</p>

						<p>
							<label for="login-pass">Password</label><br />
							<input type="password" id="login-pass" name="password" />
						</p>
					</form>

					<button id="register">Register</button>
					<button id="login-submit">Log In</button>
				</div>
			</div>

			<script type="text/javascript">
				$("#login-submit").button();
				$("#register").button();

				$("#login-submit").click(function() {
					$.ajax("/authenticate", {
						type: "POST",
						data: $("#login").serialize(),
						success: function(data) {
							if (data.success) {
								window.location.href = data.url;
							} else {
								alert("Error");
							}
						},
						error: function(xhr, status, error) {
							alert(status);
							alert(error);
						}
					});
				});
			</script>
		</div>
	</body>
</html>