<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Good Thymes Virtual Grocery</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="../static/css/smoothness/jquery-ui-1.10.3.custom.css" th:href="@{/static/css/smoothness/jquery-ui-1.10.3.custom.css}" rel="stylesheet" />
		<script type="text/javascript" src="../static/js/jquery-1.10.1.js" th:src="@{/static/js/jquery-1.10.1.js}"></script>
		<script type="text/javascript" src="../static/js/jquery-ui-1.10.3.js" th:src="@{/static/js/jquery-ui-1.10.3.js}"></script>

		<style type="text/css">
			.spinner-dialog .ui-dialog-titlebar {
				display: none;
			}

			.spinner-dialog .ui-progressbar {
				position: relative;
			}
			.spinner-dialog .progress-label {
				position: absolute;
				left: 5em;
				top: 4px;
				font-weight: bold;
				text-shadow: 1px 1px 0 #fff;
			}
		</style>
	</head>

	<body>
		<div class="ui-widget" style="width: 80%; margin-left: auto; margin-right: auto;">
			<div class="ui-widget-header">
				<h1>Waffleshop Password Manager</h1>
			</div>
			<div class="ui-widget-content" style="padding: 1em;">
				<p>TODO content</p>
			</div>
		</div>

		<div id="spinner" style="display: none;">
			<div id="progressbar">
				<div class="progress-label">Please Wait</div>
			</div>
		</div>
		<script type="text/javascript">
			$("#progressbar").progressbar({
				value: false
			});
			$("#spinner").hide();
			$(document).ajaxStart(function() {
				$("#spinner").dialog({
					dialogClass: "spinner-dialog",
					modal: true,
					closeOnEscape: false,
					resizable: false,
					height: "auto",
					minHeight: 0,
					close: function() {
						$(this).destroy();
					}
				});
			});
			$(document).ajaxStop(function() {
				$("#spinner").dialog("destroy");
			});
		</script>
	</body>
</html>