<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="title">Waffleshop Password Manager</title>
		<script type="text/javascript" th:fragment="js">
			$(function() {
				$("#logOut").button({
					icons: {
						secondary: "ui-icon-locked"
					}
				});
				$("#settings").button({
					icons: {
						secondary: "ui-icon-wrench"
					}
				});

				$("#addSecret").button({
					text: false,
					icons: {
						primary: "ui-icon-plusthick"
					}
				}).click(function() {
					$("#edit-secret-dialog").dialog("open");
				});

				$("#edit-secret-dialog").dialog({
					autoOpen: false,
					modal: true,
					resizable: false
				});

				$("#edit-secret-submit").button({
				}).click(function() {
					$.ajax({
						url: "passwords/save",
						type: "POST",
						contentType: "application/json",
						data: JSON.stringify($("#log-in-form").serializeObject()),
						success: function(data) {
							if (data.success) {
								alert("good");
							} else {
								alert("Error");
							}
						},
						error: function(xhr, status, error) {
							alert(status);
							alert(error);
						}
					});
				});
			});
		</script>
	</head>

	<body>
		<div th:fragment="body">
			<div class="ui-widget ui-widget-content ui-corner-all" style="width: 80%; margin-left: auto; margin-right: auto; padding: 2px;">
				<div class="ui-widget-header ui-corner-all ui-helper-clearfix">
					<span style="padding: .4em 1em; margin-top: 2px; display: block; float: left;">Password Manager</span>
					<a href="logOut" id="logOut" style="float: right;">Log Out</a>
					<a href="account/settings" id="settings" style="float: right;">Settings</a>
				</div>

				<p>Passwords</p>
				<table style="border: 1px solid black; width: 100%">
					<thead>
						<tr>
							<th style="width: 100%">Secret</th>
							<th>
								<button id="addSecret" title="Add Secret"/>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="secret : ${secrets}" th:attr="data-uid=${secret.uid}">
							<td th:text="${secret.title}" />
							<td/>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="edit-secret-dialog" title="Edit Secret">
				<form id="log-in-form" action="passwords/edit" method="post">
					<p>
						<label for="edit-secret-title">Title</label><br />
						<input type="text" id="edit-secret-title" name="title" />
					</p>

					<p>
						<label for="edit-secret-password">Password</label>
						<input type="text" id="edit-secret-password" name="password" />
					</p>
				</form>

				<button id="edit-secret-submit">Save</button>
			</div>
		</div>
	</body>
</html>