<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:include="${_view} :: title">Waffleshop Password Manager</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<base th:href="@{/}"/>
		<link href="static/jquery/themes/base/jquery.ui.all.css" rel="stylesheet"/>
		<script type="text/javascript" src="static/jquery/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="static/jquery/jquery-ui.min.js"></script>
		<link href="static/css/global.css" rel="stylesheet"/>

		<style type="text/css" th:include="${_view} :: css"></style>
		<script type="text/javascript" th:include="${_view} :: js"></script>
	</head>
	<body>
		<div th:include="${_view} :: body">TODO write content</div>

		<!-- spinner / please wait modal dialog -->
		<div id="spinner" style="display: none;">
			<div id="progressbar">
				<div class="progress-label">Please Wait</div>
			</div>
		</div>

		<script type="text/javascript" src="static/js/global.js"></script>
	</body>
</html>
