<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:include="${_view} :: title">Nimbus Password Manager</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<base th:href="@{/}"/>

		<link rel="stylesheet" type="text/css" href="static/extjs/resources/ext-theme-neptune/ext-theme-neptune-all.css"/>
		<link href="static/css/global.css" rel="stylesheet"/>
		<style type="text/css" th:include="${_view} :: css"></style>

		<script type="text/javascript" src="static/extjs/ext-all-debug.js"></script>
		<script type="text/javascript" src="static/js/global.js"></script>
		<script type="text/javascript" th:include="${_view} :: js"></script>
		<script type="text/javascript">
			// Path to the blank image should point to a valid location on your server
			Ext.BLANK_IMAGE_URL = 'static/extjs/resources/s.gif';
		</script>
	</head>
	<body>
		<div th:include="${_view} :: body">TODO write content</div>
	</body>
</html>
