html {
	background: url('../background.jpg') no-repeat center center fixed;
	background-size: cover;
}

/* Ext Neptune theme has a body background. Do Not Want */
body, .x-body {
	background: none;
}

.icon-add {
	background-image: url(../icons/add.png) !important;
}

.icon-lock {
	background-image: url(../icons/lock.png) !important;
}
